 body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

    font-size: 30px;
    line-height: 1.5px;
    color: #ffffff;
 }

 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 /* Container */
 .container {
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
    }
    
.intro {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 900px;
}

.logo {
    margin-top: 45px;
}

.logo_text {
    padding-right: 3px;
    font-size: 33px;
    font-weight: 500;
    font-family: 'Merriweather';
}

.logo_img {
    height: 96px;
    width: 283px;
    background: url(../images/intro_logo.png) right no-repeat;
}

.intro_text {
    padding-top: 500px;
}

.intro_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_title {
    padding-top: 20px;
    font-size: 70px;
    font-weight: 700;
    text-align:left;
    color: #fff;
}

.intro_subtitle {
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    line-height: 5px;
    color: #fff;
}

.intro_button {
    padding-top: 583px;
    font-size: 40px;
    font-family: 'Merriweather';
    font-weight: 400;
}

.in_button {
    text-decoration: underline;
    color: #fff;
    transition: color 0.2s linear;
}

.in_button:hover {
    color: #fad54d;
}

.intro_button1 {
    display: none;
    font-family: 'Merriweather';
}

.in_button1 {
    text-decoration: underline;
    color: #fff;
    transition: color 0.2s linear;
}

.in_button1:hover {
    color: #fad54d;
}

/* Header */
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    background: url(../images/header.png) center no-repeat;
    background-size: cover;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_contacts {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}

.head_cont{
    font-size: 16px;
    font-weight: 400;
}

.flagmedia {
    display: none;
}

.nav {
    padding-right: 280px;
    font-size: 25px;     
    font-weight: 700;
}

 .nav_link {
    flex-direction: row;
    margin-left: 60px;
    margin-right: 0px;
    color: #fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav_link:hover {
    color: #fad54d;
}

.second_intro {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/second_intro.png) center no-repeat;
    background-size: cover;
    height: 742px;
    -webkit-background-size: cover;
}

.sec_in_text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 65px;
}

.second_title {
    font-size: 47px;
    font-weight: 700;
}

.second_subtitle {
    font-size: 35px;
    font-weight: 300;
    line-height: 20px;
}

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.textcols-item {
    font-size: 25px;
    font-weight: 300;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
    margin-top: 80px;
    line-height: 35px;
}

.textcols-item + .textcols-item {
	margin-left: 140px;
}

.third_intro {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../images/third_intro.png) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.thrd_in_text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 110px;
}

.third_title {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

.third_subtitle {
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    line-height: 30px;
}

.third_intro_photos {
    display: flex;
    justify-content: space-between;
}

.about_photos {
    margin-top: 50px;
}

.about_photos:hover .photo1 img{
    opacity: 0.7;
}

.about_photos:hover .photo2 img{
    opacity: 0.7;
}

.about_photos:hover .photo3 img{
    opacity: 0.7;
}

.photo1, .photo2, .photo3 {
    max-width: 100%;
    height: auto;
    background: linear-gradient(#0c22ea, #eeb91d);
}

.photo1_1 {
    display: none;
}

.photo2_1 {
    display: none;
}

.photo3_1 {
    display: none;
}

.photo1 img, .photo2 img, .photo3 img {
    transition: opacity 0.5s linear;
}

.lower_subtitle {
    font-size: 28px;
    font-weight: 300;
    margin-top: 50px;
    line-height: 35px;
    text-align: center;
}

.footer {
    display: flex;
    width: 100%;
    height: 550px;
    background: url(../images/header.png) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.footer_contacts{
    padding-top: 50px;
}

.footer_title {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Merriweather';
}

.about_footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.footer_text {
    font-size: 22px;
    font-weight: 300;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
    margin-top:120px;
    line-height: 31px;
}

.footer_text + .footer_text {
	margin-left: 140px;
}

.column_title {
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1px;
}

.footer_description {
    margin-top: 5px;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
}

.nav_foot {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;     
    font-weight: 300;
    line-height: 40px;
}

 .foot_link {
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.foot_link:hover {
    color: #fad54d;
}

.footer_bottom {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: 100px;
}

/*Gallery page*/
.gallery_intro {
    display: flex;
    width: 100%;
    background: url(../images/background.png) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.gallery_inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.gallery_logo {
    margin-top: 30px;
}

.gallery_logo_text {
    padding-left: 5px;
    font-size: 33px;
    font-weight: 500;
    font-family: 'Merriweather';
}

.gallery_logo_img {
    display: flex;
    height: 96px;
    width: 283px;
    background: url(../images/intro_logo.png) right no-repeat;
}

.gallery_title {
    margin-top: 60px;
    font-size: 70px;
    font-weight: 700;
}

.gallery_intro_photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_gallery_photos {
    margin-top: 50px;
}

.about_gallery_photos:hover .gallery1 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery2 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery3 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery4 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery5 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery6 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery7 img{
    opacity: 0.7;
}

.about_gallery_photos:hover .gallery8 img{
    opacity: 0.7;
}

.gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8 {
    background: linear-gradient(#0c22ea, #eeb91d);
}

.gallery1 img, .gallery2 img, .gallery3 img, .gallery4 img, .gallery5 img, .gallery6 img, .gallery7 img, .gallery8 img {
    transition: opacity 0.5s linear;
}

.gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8 {
    margin-top: 50px;
}

.gallerymedia1, .gallerymedia2, .gallerymedia3, .gallerymedia4, .gallerymedia5, .gallerymedia6, .gallerymedia7, .gallerymedia8 {
    display: none;
}

.photos_description {
    font-size: 40px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.2;
}

.gallery_footer {
    display: flex;
    margin-top: 150px;
}

.gallery_footer_text1 {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding-left: 250px;
}

.center_word {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding-left: 300px;
    padding-top: 100px
}

.gallery_footer_text2 {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 300px;
    padding-top: 15px;
}

.center_word1_1 {
    display: none;
}

.gallery_footer_text2_1 {
    display: none;
}

.gallery_intro_button1 {
    display: flex;
    padding-left: 210px;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Merriweather';
    font-weight: 400;
}

.gal_in_button1 {
    text-decoration: underline;
    color: #fff;
    transition: color 0.2s linear;
}

.gal_in_button1:hover {
    color: #fad54d;
}

.gallery_intro_button1_1 {
    display:none;
}

.gallery_intro_button2 {
    display: flex;
    padding-left: 1195px;
    font-size: 40px;
    font-weight: 400;
}

.gal_in_button2 {
    text-decoration: underline;
    color: #fff;
    transition: color 0.2s linear;
}

.gal_in_button2:hover {
    color: #fad54d;
}

.footer_bottom2 {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: 150px;
}

/*Order Page */
.order_intro {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../images/order_background.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.order_inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.order_logo {
    margin-top: 30px;
}

.order_logo_text {
    padding-left: 5px;
    font-size: 33px;
    font-weight: 500;
    font-family: 'Merriweather';
}

.order_logo_img {
    display: flex;
    height: 96px;
    width: 283px;
    background: url(../images/intro_logo.png) right no-repeat;
}

.order_title {
    margin-top: 60px;
    font-size: 70px;
    font-weight: 700;
} 

.order_subtitle {
    margin-top: 50px;
    font-size: 33px;
    font-weight: 500;
}

.order_subtext {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 300;
    width:500px;
    line-height: 1.2;
}

.input_data {
    margin-top: 80px;
}

.user_name {
    margin-top: 45px;
    font-size: 25px;
    font-weight: 300;
}

.user_input {
    box-sizing: border-box;
    padding: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    color:rgb(3, 3, 3);
    width: 300px;
    height: 40px;
    transition: border-color 0.15s ease-in-out;
}

.user_input:focus {outline:none !important}

.order_button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    padding: 25px 30px;
    border-radius: 100px;
    color: rgb(3, 3, 3);
    font-family: 'Montserrat';
    margin-left: 50px;
    margin-top: 45px;
  }

.order_button {
    background: #eeb91d;
}

.footer_bottom3 {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: 105px;
}

@media (max-width: 1230px) {
    .container {
        width: 1120px;
    }

    .head_cont {
        font-size: 12px;
    }

    .nav {
        font-size: 17px;
    }

    .intro {
        height: 94vh;
    }

    .logo {
        margin-top: 30px;
    }

    .logo_img {
        width: 220px;
        height: 72px;
        background: url(../images/logomedia1.png);
    }

    .logo_text {
        font-size: 25px;
        margin-left: 5px;
    }

    .intro_text {
        display: flexbox;
        padding-top: 280px;
    }

    .intro_title {
        font-size: 40px;
        padding-top: 45px;
    }

    .intro_subtitle {
        font-size: 30px;
    }

    .intro_button {
        padding-top: 355px;
        font-size: 25px;
    }
    
    .second_intro{
        height: 94vh;
    }

    .sec_in_text {
        margin-top: 50px;
    }

    .second_title {
        font-size: 30px;
    }

    .second_subtitle {
        font-size: 25px;
    }

    .textcols-item {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.8;
    }

    .thrd_in_text {
        margin-top: 45px;
    }

    .third_title {
        font-size: 50px;
    }

    .third_subtitle {
        font-size: 35px;
    }

    .about_photos {
        margin-top: 10px;
        margin-left: 80px;
    }

    .photo2 {
        display: none;
    }

    .photo1 {
        display: none;
    }

    .photo3 {
        display: none;
    }

    .lower_subtitle {
        margin-left: 0px;
        width: 100%;
        margin-top: 50px;
        font-size: 30px;
        line-height: 1.7;
        text-align: center;
    }

    .footer {
        height: 60vh;
    }

    .footer_contacts{
        padding-top: 25px;
    }

    .footer_title {
        font-size: 25px;
    }

    .footer_text {
        margin-top: 80px;
    }

    .column_title {
        font-size: 15px;
    }

    .footer_description {
        font-size: 14px;
        line-height: 1.7;
    }

    .nav_foot {
        line-height: 2.5;
        font-size: 14px;
    }

    .footer_bottom {
        font-size: 10px;
        margin-top: 48px;
    }
}

@media (max-width: 391px) {
    /*main page*/
    .container {
        width: 360px;
    }

    .intro {
        width: 390px;
        height: 95vh;
    }

    .header{
        width: 390px;
        height: 30px;
    }

    .head_cont {
        display: none;
    }

    .nav {
        padding-top: 8px;
        padding-right: 0px;
        font-size: 14px;
        padding-left: 0px;
    }
    
    .nav_link {
        margin-right: 41px;
        margin-left: 0px;
    }

    .flag {
        display: none;
    }

    .flagmedia {
        display: flex;
        margin-top: 10px;
    }

    .logo_img {
        background: url(../images/logomedia2.jpg);
        width: 110px;
        height: 38px;
    }

    .logo_text {
        font-size: 13px;
        margin-left: 0px;
    }

    .intro_text {
        padding-top: 310px;
    }

    .intro_title {
        font-size: 35px;
        line-height: 1;
    }

    .intro_subtitle {
        font-size: 33px;
        line-height: 1;
    }

    .intro_button {
        display: none;
    }

    .intro_button1 {
        display: flex;
        margin-top: 10px;
        font-size: 25px;
    }

    .second_intro {
        height: 95vh;
    }

    .second_title {
        font-size: 25px;
    }

    .second_subtitle {
        font-size: 20px;
    }

    .textcols {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .textcols-item {
        font-size: 15px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        height: 30%;
        margin-top: 20px;
        line-height: 1.5;
    }
    
    .textcols-item + .textcols-item {
        margin-left: 0px;
    }

    .third_intro {
        height: 140vh;
    }

    .third_title {
        font-size: 35px;
    }

    .third_subtitle {
        font-size: 22px;
    }

    .third_intro_photos {
        flex-direction: column;
    }

    .about_photos {
        margin-left: 0px;
    }

    .photo1_1 {
        margin-left: 55px;
        display: flex;
    }

    .photo2_1 {
        margin-top: 25px;
        margin-left: 55px;
        display: flex;
    }

    .photo3_1 {
        margin-top: 25px;
        margin-left: 55px;
        display: flex;
    }

    .lower_subtitle {
        margin-top: 40px;
        width: 360px;
        font-size: 17px;
        line-height: 1.4;
    }

    .footer {
        height: 87vh;
    }

    .footer_title {
        font-size: 20px;
    }

    .about_footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .footer_text {
        font-size: 22px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin-top: 50px;
        line-height: 31px;
    }
    
    .footer_text + .footer_text {
        margin-left: 0px;
    }

    .footer_bottom {
        margin-top: 70px;
    }
    
    /*Gallery page*/

    .gallery_logo {
        margin-top: 40px;
    }

    .gallery_logo_img {
        background: url(../images/logomedia2.jpg);
        width: 110px;
        height: 38px;
    }

    .gallery_logo_text {
        font-size: 13px;
        padding-left: 1px;
    }

    .gallery_title {
        margin-top: 45px;
        font-size: 25px;
    }

    .gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8 {
        display: none;
    }

    .gallerymedia1 {
        padding-top: 0px;
    }

    .gallerymedia1, .gallerymedia2, .gallerymedia3, .gallerymedia4, .gallerymedia5, .gallerymedia6, .gallerymedia7, .gallerymedia8 {
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .photos_description {
        font-size: 20px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .gallery_footer {
        margin-top: 70px;
        padding-left: 0px;
        margin-left: 0px;
    }

    .gallery_footer_text1 {
        display: flex;
        font-size: 20px;
        padding-left: 100px;
    }

    .gallery_intro_button1 {
        display: none;
    }

    .center_word {
        display: none;
    }

    .gallery_footer_text2 {
        display: none;
    }

    .gallery_intro_button1_1 {
        display: flex;
        width: 100%;
        font-family: 'Merriweather';
        font-size: 20px;
        padding-top: 20px;
        padding-left: 90px;
}

    .gal_in_button1_1 {
        text-decoration: underline;
        color: #fff;
        transition: color 0.2s linear;
    }

    .gal_in_button1_1:hover {
        color: #fad54d;
    }

    .center_word1_1 {
        margin-top: 75px;
        margin-left: 175px;
        font-size: 14px;
        font-weight: 300;
    }

    .gallery_footer_text2_1 {
        margin-top: 75px;
        margin-left: 110px;
        font-size: 20px;
        font-weight: 300;
    }

    .gallery_intro_button2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 50px;
        padding-left: 105px;
    }

    .footer_bottom2 {
        margin-top: 124px;
        padding-left: 15px;
        font-size: 10px;
    }

    /* Order Page */
    .order_intro {
        height: 97vh;
    }

    .order_logo {
        display: none;
    }

    .order_title {
        margin: 50px auto 10px;
        font-size: 30px;
    }

    .order_subtitle {
        margin-top: 50px;
        margin-left: 45px;
        font-size: 27px;
    }

    .order_subtext {
        font-size: 25px;
        width: 270px;
        margin-left: 45px;
    }

    .input_data {
        margin-top: 30px;
        margin-left: 45px;
    }

    .user_name {
        font-size: 22px;
    }
    
    .user_input {
        font-weight: 500;
        font-size: 1.2rem;
        width: 270px;
        height: 35px;
    }
    
    .order_button {
        border: none;
        outline: none;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 21px;
        font-weight: 700;
        padding: 22px 28px;
        border-radius: 100px;
        color: rgb(3, 3, 3);
        font-family: 'Montserrat';
        margin-left: 85px;
        margin-top: 45px;
      }
    
    .footer_bottom3 {
        font-size: 11px;
        margin-top: 110px;
    }
}
